seta sv_hostname "quakejs"
seta sv_maxclients 12
seta g_motd "H-uake Fortress"

; CTF
seta g_gametype 4

seta g_quadfactor 3

seta g_warmup 30

seta timelimit 15
seta fraglimit 100

seta g_weaponrespawn 3
seta g_inactivity 3000
seta g_forcerespawn 0
seta rconpassword "quakejs"

set d1 "map q3tourney6_ctf ; set nextmap vstr d2"
set d2 "map ct3ctf2 ; set nextmap vstr d3"
set d3 "map facer2d ; set nextmap vstr d4"
set d4 "map devoctf1 ; set nextmap vstr d5"
set d5 "map 13dream_xt ; set nextmap vstr d6"
set d6 "map nijoo ; set nextmap vstr d7"
set d7 "map perterbia ; set nextmap vstr d1"
vstr d1
